<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{"images/favicon-32x32.png" | absolute_url}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | absolute_url}}">
<link rel="manifest" href="{{ "images/site.webmanifest" | absolute_url }}">
<link rel="mask-icon" href="{{ "images/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" type="image/x-icon" href="{{ "images/favicon.ico" | absolute_url }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ "images/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">
